body { background-color: #f5f6fa; }

.bookList,
.navBar {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  background-color: white;
}

.list-item {
  border: 1px solid #f5f6fa;
  padding-left: 20px;
}

.book-title {
  font-weight: bold;
  font-size: 20px;
}

.book-category {
  font-weight: 700;
  color: #d5d5d5;
  padding: 3px;
}

.book-author {
  padding: 3px;
  color: #4395d6;
}

.crudbtn {
  padding: 10px 0;
}

.crudbtn button {
  margin-right: 40px;
  color: #4395d6;
  background-color: white;
}

.rmvbtn {
  border-left: 1px solid #32a1ce;
  border-right: 1px solid #32a1ce;
  border-top: none;
  border-bottom: none;
  padding: 3px 25px;
}

.addbtn,
.editbtn {
  border: none;
  padding: 3px 0;
}

.add-book {
  width: 80%;
  margin: 20px auto;
  border-top: 2px solid #dddee4;
}

.add-book h4 {
  margin-bottom: 5px;
}

.add-book form {
  padding-top: 0;
}

#categories {
  margin: 0 10px 0 30px;
  width: 150px;
  padding: 2px 0;
}

input[type="text"] {
  width: 320px;
}

input[type="button"] {
  float: right;
  background-color: #279fff;
  border: 0;
  margin-bottom: 0;
  padding: 5px 5px;
}

.navBar {
  padding: 5px 0 5px;
  margin-bottom: 0;
}

.nav-items {
  padding-right: 40px;
  text-decoration: none;
  color: #9E9E9E;
}

.navBar ul > a:first-child {
  font-size: 28px;
  color: #0290FF;
  font-weight: 700;
}

.navBar ul {
  padding-left: 20px;
}
